<table border="0" cellspacing="0" cellpading="0"
	style="padding-bottom: 20px; max-width: 516px; min-width: 220px">
	<tbody>
		<tr>
			<td width="8" style="width: 8px"></td>
			<td>
				<div
					style="border-style: solid; border-width: thin; border-color: #dadce0; border-radius: 8px; padding: 40px 20px"
					align="center" class="body">
					<img src="https://i.imgur.com/cJexqPf.png" width="104" height="34"
						aria-hidden="true" style="margin-bottom: 16px" alt="HypeHost"
						class="imgHype">
					<div
						style="font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif; border-bottom: thin solid #dadce0; color: rgba(0, 0, 0, 0.87); line-height: 32px; padding-bottom: 24px; text-align: center; word-break: break-word">
						<div style="font-size: 24px">Seu código é T-000000</div>
					</div>
					<div style="padding-top: 32px; text-align: center">
						<a href="http://localhost/Topicos2/redefinirSenha?cod=CODIGO"
							style="font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif; line-height: 16px; color: #ffffff; font-weight: 400; text-decoration: none; font-size: 14px; display: inline-block; padding: 10px 24px; background-color: #4184f3; border-radius: 5px; min-width: 90px"
							target="_blank"> Redefinir Senha</a>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>

